<div>
  <div class="card">
    <div class="card-body">
      <table class="table" *ngIf="accounts">
        <thead>
        <tr>
          <th>ID</th><th>Balance</th><th>Type</th><th>Currency</th><th>Customer</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let a of accounts">
          <td>{{a.accountId}}</td>
          <td>{{a.balance}}</td>
          <td>{{a.type}}</td>
          <td>{{a.currency}}</td>
          <td>{{a.customer.firstName}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
